h1 {
  padding: 22px;
  text-align: left;
  font-family: verdana;
  font-size: 28px;
  font-weight: bold;
  background-color: rgb(192, 14, 14);
  color: white;
}

h2 {
  padding: 16px;
  text-align: right;
  font-family: verdana;
  font-size: 16px;
  font-weight: normal;
  background-color: grey
  color: white 
}